.f-button {
    background-color: #2A858F;
    color: white;
    text-decoration:none;
    border-radius:0px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.f-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(42, 133, 143, 0.15);
    color:orange;
}

.s-button {
    color: #62B3BC;
    text-decoration: none;
}

.s-button:hover {
    color: orange;
}

.headlineSection {
    margin-top:160px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

@media (max-width:1000px) {
    .headlineSection {
        margin-top:40px;
        margin-left:0px;
    }
    @media (min-width:1001px) {
        .headlineSection {
            margin-top: 80px;
        }
    }
    @media (max-width:2000px) {
        .featureSection {
            gap:15px;
        }
    }
    @media (max-width:900px) {
        .featureSectionNested div p {
            font-size:12px;
        }
    }
    @media (max-width:425px) {
        .featureSectionNested div h2,
        .featureSectionNested div p {
            font-size:8px;
        }
        .headlineSection h1 {
            font-size:30px;
            text-align: center;
        }
        .headlineSection p {
            text-align:center;
        }
    }
    @media (max-width: 768px) {
        .headlineSection h1 {
            text-align:center;
        }
    }
    @media (max-width: 750px) {
        .footer p span {
            display:none;
        }
    }
    @media (min-width: 1024px) {
        .featureSectionNested div p{
            font-size:20px;
        }
    }
}

.featureSection {
    margin-left:15%;
    margin-right:15%;
    margin-top:45px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;
}

.icon-container {
    text-align:center;
}

.featureSectionNested {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.featureSectionNested:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

