.f-button {
    background-color: #2A858F;
    color: white;
    text-decoration:none;
    border-radius:0px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.f-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(42, 133, 143, 0.15);
    color:orange;
}

.s-button {
    color: #62B3BC;
    text-decoration: none;
}

.s-button:hover {
    color: orange;
}

.headlineSection {
    /* border: 2px solid red; */
    margin-top:25px;
    display:flex;
    flex-direction:column;
    align-items:center;
    /* justify-content:flex-start; */
}

.featureSection {
    /* border:2px solid red; */
    margin-left:15%;
    margin-right:15%;
    margin-top:25px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;
}

.icon-container {
    text-align:center;
}

.featureSectionNested {
    /* border: 2px solid red; */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.featureSectionNested:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

