.footer p:hover {
    transform: translateY(-5px);
    cursor:pointer;
    color: #2a858f;
    transition: 0.2s ease-in-out;
}

.MainFooter {
    margin-bottom:0;
}

.footer a {
    text-decoration:none;
    color:black;
}

.footer p a:hover {
    color: #2a858f;
}

@media (max-width:425px) {
    .MainFooter {
        width:425px;
        border: 2px solid red;
    }
    .copyright {
        width:190px;
        font-size:10px;
    }
    .footer {
        width:190px;
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-evenly;
        gap:10px;
    }
    .footer p {
        font-size:10px;
    }
}