.NavLink {
    text-decoration: none;
    color:black;
    padding:15px;
}

.NavLink:hover {
    color: orange;
    background: #2A858F;
    border-radius:10px;
}

.Nav {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    gap:45px;
    margin-right: 70px;
    padding:20px;
}